<mat-grid-list cols="4" rowHeight="4:3" gutterSize="10px">
  <mat-grid-tile *ngFor="let media of mediaFiles$ | async">
    <mat-card class="media-card">
      <a [routerLink]="['/watch', media.id]" class="thumbnail-link">
        <div class="thumbnail-container">
          <img mat-card-image src="{{media.baseUrl}}{{media.thumbUrl}}" alt="Video Thumbnail">
          <div class="play-overlay">
            <mat-icon class="play-icon">play_circle_filled</mat-icon>
          </div>
        </div>
      </a>
      <mat-card-content>
        <mat-card-title>
          {{media.name}}
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>